* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

button {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.initials {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 29px;
  padding: 29px 23px;
  color: #ffffff;
  z-index: 100;
}

.nav {
  position: fixed;
  width: 21%;
  display: flex;
  flex-direction: column;
  padding: 0 90px;
  z-index: 1;
}

.logo {
  background: #4456fb;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  margin: 47px 0 40px 0;
}

.nav-items li {
  margin: 10px 0 10px -60px;
  line-height: 40px;
  list-style: none;
}

.nav-items a {
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 0 20px;
  text-decoration: none;
}

.nav-items .active {
  /* background-color: #e8effa;
  border-radius: 40px;
  width: 100%;
  height: 40px; */
}

.container {
  position: relative;
  top: 0;
  left: 21%;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto;
  margin: 0;
  max-width: 1140px;
  height: 2600px;
  background-image: url(./images/footer-shape.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  /* background-color: #fa4969; */
}

.container .header-image {
  background-image: url(./images/header-shape.jpg);
  position: absolute;
  top: 0px;
  width: 1139px;
  height: 684px;
  z-index: -10;
}

.content {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  position: absolute;
  top: 100px;
  font-weight: bold;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: greenyellow;
}

.content .header h1 {
  font-size: 68px;
  line-height: 83px;
  color: #ffffff;
}

.header h3 {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin: 0 0 30px 0;
}

.header p,
.about p,
.footer p {
  font-size: 16px;
  line-height: 22px;
  width: 55%;
  color: #ffffff;
  margin: 0 0 26px 0;
}

.about p {
  color: #4f5461;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  background-color: #fff;
  border-radius: 60px;
  padding: 10px 20px;
}

.social p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4f5461;
}

.social ul {
  display: flex;
  list-style: none;
}

.icons a img,
.s-icon img {
  width: 27px;
  height: 27px;
  margin-left: 14px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  border-bottom: 1px solid #6877ff;
  padding: 0 0 20px 0;
}

.contain {
  grid-column-start: 2;
  grid-column-end: 3;
  position: relative;
  top: 690px;
}

.portfolio {
  display: grid;
  grid-template-columns: 6fr 6fr;
  row-gap: 17px;
  column-gap: 21px;
  margin: 47px 0;
}

h4 {
  font-weight: bold;
  font-size: 28px;
  line-height: 29px;
  color: #4f5461;
}

.portfolio-item {
  width: 405px;
  height: 286px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0) 98.35%
    ),
    url(image.png);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 10px;
}

#proj1 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0) 98.35%
    ),
    url(./images/Proj1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#proj2 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0) 98.35%
    ),
    url(./images/Proj2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#proj3 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0) 98.35%
    ),
    url(./images/Proj3.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#proj4 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0) 98.35%
    ),
    url(./images/Proj4.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#proj5 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0) 98.35%
    ),
    url(./images/Proj5.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#proj6 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0) 98.35%
    ),
    url(./images/Proj6.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.about p {
  margin: 20px 0;
}

.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 103%;
  text-align: center;
  padding: 22px 0 18px 0;
  color: #ffffff;
  border: 0 solid none;
  border-radius: 60px;
  width: 193px;
  height: 59px;
}

.blue {
  background-color: #4456fb;
}

.red {
  background: #fa4969;
  width: 242px;
}

.skills {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  column-gap: 17px;
  margin: 50px 0 100px 0;
}

.skill-item {
  background-color: #f5f8fd;
  border-radius: 10px;
  padding: 31px 28px;
}

.skill-item .title {
  font-weight: bold;
  font-size: 22px;
  line-height: 105.3%;
  margin: 0 0 18px 20px;
  color: #4f5461;
}

.skill-item ul {
  list-style: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 242.5%;
  margin: 0 0 0 -20px;
  color: #737986;
}

.footer p {
  margin: 20px 0;
  /* color: #737986; */
}

.form {
  display: block;
}

.form input,
textarea {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #737986;
  border: 1px solid #accdff;
  background: #ffffff;
  box-shadow: 0px 7px 15px rgba(95, 104, 186, 0.13);
  border-radius: 14px;
  padding: 14px 0 15px 20px;
  margin: 0 13px 0 0;
}

#name {
  width: 332px;
  height: 59px;
}

#email {
  width: 323px;
  height: 59px;
}

textarea,
#text {
  width: 672px;
  height: 185px;
  margin: 21px 0;
  padding: 14px 20px 15px 20px;
}

.copyright,
.email {
  text-align: right;
  font-size: 16px;
  line-height: 19px;
  color: #c5cbfe;
}

.copyright {
  margin-top: 20px;
}
